/* Diatype EDU font */
@font-face {
    font-family: 'Diatype';
    src: url('fonts/Diatype EDU/ABCDiatypeEdu-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Diatype';
    src: url('fonts/Diatype EDU/ABCDiatypeEdu-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Diatype';
    src: url('fonts/Diatype EDU/ABCDiatypeEdu-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #d3d3d3;
    font-family: 'Diatype', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    width: 1000px;
    height: 1000px;
    position: relative;
}

.clock-face {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #b8b8b8;
}

.time-labels {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hour-marker,
.minute-marker {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: rotate(var(--rotation));
}

.hour-text,
.minute-text {
    position: absolute;
    font-weight: normal;
    text-transform: lowercase;
}

.hour-text {
    top: 40px;
    left: 50%;
    transform: translateX(-50%) rotate(calc(-1 * var(--rotation)));
    color: #2d2d2d;
    font-size: 60px;
}

.minute-text {
    top: 120px;
    left: 50%;
    transform: translateX(-50%) rotate(calc(-1 * var(--rotation)));
    color: #ffffff;
    font-size: 60px;
}

/* Rotating concentric circles */
.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform-origin: center center;
    transition: transform 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.minute-circle {
    width: 340px;
    height: 340px;
    margin-left: -170px;
    margin-top: -170px;
    background:  #fff;
    /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); */
}

.hour-circle {
    width: 240px;
    height: 240px;
    margin-left: -120px;
    margin-top: -120px;
    background:  #000000;
}

.circle-marker {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: currentColor;
    border-radius: 50%;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.minute-circle .circle-marker {
    background-color: transparent;
}

.hour-circle .circle-marker {
    background-color: transparent;
}

/* Second hand */
.second-hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 4px;
    height: 48%;
    background-color: #ff0000;
    margin-left: -2px;
    transform-origin: bottom center;
    transition: none;
    z-index: 15;
    border-radius: 2px;
}

.center-dot {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
